In [1]:
import pandas as pd

In [3]:
df_happiness = pd.read_csv("world_happiness_2020.csv")
df_happiness

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2020,150,Afghanistan,"2,523","2,596","2,449","0,370","0,000","0,126","0,000","0,122","0,010","1,895"
1,2020,94,Albania,"5,117","5,234","5,001","1,008","0,529","0,646","0,491","0,168","0,024","2,250"
2,2020,110,Algeria,"4,887","4,991","4,783","0,946","0,765","0,552","0,119","0,144","0,120","2,242"
3,2020,58,Argentina,"5,929","6,040","5,819","1,162","0,980","0,646","0,544","0,069","0,067","2,461"
4,2020,87,Armenia,"5,283","5,397","5,168","0,996","0,758","0,585","0,540","0,079","0,198","2,127"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2020,108,Venezuela,"4,892","5,017","4,767","0,852","0,897","0,574","0,284","0,078","0,072","2,135"
145,2020,80,Viet Nam,"5,411","5,488","5,334","0,817","0,873","0,616","0,679","0,124","0,091","2,211"
146,2020,142,Yemen,"3,658","3,794","3,521","0,329","0,831","0,272","0,268","0,092","0,089","1,776"
147,2020,138,Zambia,"4,073","4,209","3,938","0,528","0,552","0,231","0,487","0,227","0,074","1,975"
148,2020,149,Zimbabwe,"3,145","3,259","3,030","0,457","0,649","0,243","0,359","0,157","0,075","1,205"

In [5]:
df_regions = pd.read_csv("flourish_regions.csv")
df_regions

,Country,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,8.7,9.1,9.4,9.7,10.0,10.4,10.7,11.0,11.4,...,17.7,18.2,18.8,19.3,19.9,20.5,21.1,21.7,22.3,23.0
1,Albania,38.0,38.5,39.0,39.5,40.0,40.5,41.0,41.5,42.0,...,51.0,51.8,52.5,53.3,54.0,54.8,55.5,56.3,57.0,57.7
2,Algeria,37.2,38.0,38.9,39.7,40.5,41.4,42.2,43.0,43.8,...,55.0,55.8,56.6,57.4,58.2,59.0,59.8,60.5,61.3,62.0
3,Andorra,53.9,54.5,55.0,55.5,56.0,56.4,56.8,57.2,57.5,...,61.8,62.0,62.2,62.5,62.7,62.9,63.1,63.3,63.5,63.7
4,Angola,11.2,11.6,12.0,12.4,12.7,13.1,13.6,14.0,14.4,...,21.7,22.3,22.9,23.6,24.2,24.8,25.5,26.2,26.8,27.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Venezuela,46.6,47.3,48.0,48.7,49.4,50.1,50.7,51.4,52.0,...,59.7,60.1,60.6,61.0,61.4,61.8,62.2,62.6,63.0,63.4
184,Vietnam,6.4,6.6,6.8,6.9,7.1,7.3,7.6,7.8,8.0,...,13.1,13.6,14.2,14.7,15.3,15.9,16.4,17.1,17.7,18.3
185,Yemen,25.4,26.1,26.7,27.4,28.1,28.7,29.3,29.9,30.5,...,41.2,42.0,42.8,43.7,44.5,45.4,46.2,47.1,48.0,48.8
186,Zambia,16.0,16.4,16.7,17.0,17.3,17.6,17.9,18.2,18.5,...,23.0,23.5,24.0,24.5,25.0,25.6,26.1,26.7,27.3,27.8
187,Zimbabwe,21.1,21.7,22.3,22.9,23.5,24.2,24.8,25.5,26.1,...,34.3,34.8,35.3,35.7,36.2,36.6,37.0,37.3,37.7,38.2

In [6]:
list_countries_happiness = df_happiness["Country name"].values
len(list_countries_happiness)

149

In [7]:
list_countries_flourish = df_regions["Country"].values
len(list_countries_flourish)

188

In [11]:
list_in_happiness = list(set(list_countries_happiness) - set(list_countries_flourish)) # 17
list_in_flourish = list(set(list_countries_flourish) - set(list_countries_happiness)) # 56

In [12]:
import difflib

In [15]:
for word in list_in_happiness:
    similar = difflib.get_close_matches(word, list_countries_flourish, n=3)
    if len(similar) == 0:
        print(f"'{word}': '',")
    else:
        print(f"'{word}': '{similar}',")

'Russian Federation': '',
'United States': '['United States of America', 'United Arab Emirates']',
'Congo': '['Togo', 'Mongolia', 'Tonga']',
'Gambia': '['Zambia', 'Namibia', 'The Gambia']',
'Viet Nam': '['Vietnam']',
'CÃ´te dâ€™Ivoire': '',
'State of Palestine': '',
'Taiwan Province of China': '',
'Swaziland': '['Thailand', 'Switzerland', 'Finland']',
'Republic of Korea': '['Republic of the Congo']',
'Kosovo': '',
'TÃ¼rkiye': '['Turkey']',
'Republic of Moldova': '['Republic of the Congo']',
'Lao PDR': '',
'Hong Kong SAR of China': '',
'North Cyprus': '['Cyprus', 'North Korea']',
'Czechia': '['China']',

In [27]:
in_happiness_subs_2019 = {
    'CÃ´te dâ€™Ivoire': 'Ivory Coast',
    'Macedonia': 'North Macedonia',
    'DR Congo': 'Democratic Republic of the Congo',
    'South Sudan': '',
    'Russian Federation': 'Russia',
    'TÃ¼rkiye': 'Turkey',
    'State of Palestine': '',
    'Czechia': 'Czech Republic',
    'Republic of Moldova': 'Moldova',
    'Republic of Korea': 'South Korea',
    'Taiwan Province of China': '',
    'North Cyprus': '',
    'Lao PDR': 'Laos',
    'Gambia': 'The Gambia',
    'Hong Kong SAR of China': '',
    'Swaziland': 'Eswatini',
    'United States': 'United States of America',
    'Congo': 'Republic of the Congo',
    'Kosovo': '',
    'Viet Nam': 'Vietnam'
}

df_happiness_cp = df_happiness.copy()
list_country_erros = list(in_happiness_subs_2019.keys())

list_deleted = [country for country in list_country_erros if in_happiness_subs_2019[country] == '']
df_happiness_cp_cleaned = df_happiness_cp[~df_happiness_cp["Country name"].isin(list_deleted)]
df_happiness_cp_cleaned["Country name"].replace(in_happiness_subs_2019, inplace=True)

/tmp/ipykernel_7285/2513483351.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_happiness_cp_cleaned["Country name"].replace(in_happiness_subs_2019, inplace=True)
/tmp/ipykernel_7285/2513483351.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_happiness_cp_cleaned["Country name"].replace(in_happiness_subs_2019, inplace=True)

In [24]:
with open("list_choosen_countries.txt", 'r') as file:
    lines = file.readlines()
list_choosen_contries = [line.strip() for line in lines]

In [28]:
common_countries_with_2019 = df_happiness_cp_cleaned["Country name"].isin(list_choosen_contries)
df_happiness_cp_cleaned[common_countries_with_2019]

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2020,150,Afghanistan,"2,523","2,596","2,449","0,370","0,000","0,126","0,000","0,122","0,010","1,895"
1,2020,94,Albania,"5,117","5,234","5,001","1,008","0,529","0,646","0,491","0,168","0,024","2,250"
2,2020,110,Algeria,"4,887","4,991","4,783","0,946","0,765","0,552","0,119","0,144","0,120","2,242"
3,2020,58,Argentina,"5,929","6,040","5,819","1,162","0,980","0,646","0,544","0,069","0,067","2,461"
4,2020,87,Armenia,"5,283","5,397","5,168","0,996","0,758","0,585","0,540","0,079","0,198","2,127"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2020,108,Venezuela,"4,892","5,017","4,767","0,852","0,897","0,574","0,284","0,078","0,072","2,135"
145,2020,80,Vietnam,"5,411","5,488","5,334","0,817","0,873","0,616","0,679","0,124","0,091","2,211"
146,2020,142,Yemen,"3,658","3,794","3,521","0,329","0,831","0,272","0,268","0,092","0,089","1,776"
147,2020,138,Zambia,"4,073","4,209","3,938","0,528","0,552","0,231","0,487","0,227","0,074","1,975"
148,2020,149,Zimbabwe,"3,145","3,259","3,030","0,457","0,649","0,243","0,359","0,157","0,075","1,205"

In [29]:
countries_not_found = ~df_happiness_cp_cleaned["Country name"].isin(list_choosen_contries)
df_happiness_cp_cleaned[countries_not_found]

Empty DataFrame
Columns: [Year, Rank, Country name, Ladder score, upperwhisker, lowerwhisker, Explained by: Log GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption, Dystopia + residual]
Index: []