In [1]:
import pandas as pd

In [2]:
normalized_country_names = {
'Czech Republic': "Czechia",
'Egypt': "Egypt, Arab Rep.",
'Hong Kong': "Hong Kong SAR, China",
'Iran': "Iran, Islamic Rep.",
'Ivory Coast': "Cote d'Ivoire",
'Kyrgyzstan': "Kyrgyz Republic",
'Laos': "Lao PDR",
'Palestine': "West Bank and Gaza",
'Republic of the Congo': "Congo, Rep.",
'Russia': "Russian Federation",
'Slovakia': "Slovak Republic",
'South Korea': "Korea, Rep.",
'The Gambia': "Gambia, The",
'Turkey': "Turkiye",
'United States of America': "United States",
'Venezuela': "Venezuela, RB",
}

treemap = pd.read_csv("./tree_map_data.csv")

In [14]:
df = pd.DataFrame()

for year in range(2019, 2025):
    df_year = pd.read_csv(f"world_happiness_{year}.csv")
    df_year = df_year[["Year", "Country name", "Explained by: Social support"]]
    df_year["Country name"] = df_year["Country name"].replace(normalized_country_names)

    for i, row in df_year.iterrows():
        country = row["Country name"]
        if country in treemap["Country Name"].values:
            region = treemap.loc[treemap["Country Name"] == country, "Region"].values[0]
            df_year.at[i, "Region"] = region
    
    df_year["Explained by: Social support"] = df_year["Explained by: Social support"].str.replace(",", ".")
    df_year["Explained by: Social support"] = df_year["Explained by: Social support"].apply(pd.to_numeric, errors='coerce')

    df = pd.concat([df_year, df], axis=0)

In [15]:
df

,Year,Country name,Explained by: Social support,Region
0,2024,Finland,1.783,Europe & Central Asia
1,2024,Denmark,1.748,Europe & Central Asia
2,2024,Iceland,1.840,Europe & Central Asia
3,2024,Sweden,1.698,Europe & Central Asia
4,2024,Netherlands,1.667,Europe & Central Asia
...,...,...,...,...
130,2019,Uzbekistan,1.434,Europe & Central Asia
131,2019,"Venezuela, RB",1.349,Latin America & Caribbean
132,2019,Vietnam,1.253,East Asia & Pacific
133,2019,Zambia,0.896,Sub-Saharan Africa
134,2019,Zimbabwe,1.048,Sub-Saharan Africa

In [16]:
df.to_csv("world_happiness_region_social_sup.csv")