In [1]:
import pandas as pd

In [41]:
# get columns from the first row of the CSV file
# and use them as column names
treemap = pd.read_csv("./tree_map_data.csv")
world_happiness = pd.read_csv("./world_happiness_freedom.csv")

In [17]:
treemap

,Country Name,Income classification 2021,Population 2021,Region,Country Code
0,China,Upper middle income,1412360000,East Asia & Pacific,CHN
1,Pakistan,Lower middle income,231402117,South Asia,PAK
2,Nigeria,Lower middle income,213401323,Sub-Saharan Africa,NGA
3,Russian Federation,Upper middle income,143449286,Europe & Central Asia,RUS
4,Brazil,Upper middle income,214326223,Latin America & Caribbean,BRA
...,...,...,...,...,...
212,St. Martin (French part),High income,31948,Latin America & Caribbean,MAF
213,British Virgin Islands,High income,31122,Latin America & Caribbean,VGB
214,Palau,Upper middle income,18024,East Asia & Pacific,PLW
215,Nauru,High income,12511,East Asia & Pacific,NRU
216,Tuvalu,Upper middle income,11204,East Asia & Pacific,TUV

In [42]:
#order by country name
treemap = treemap.sort_values(by="Country Name")
treemap = treemap.reset_index(drop=True)
treemap

,Country Name,Income classification 2021,Population 2021,Region,Country Code
0,Afghanistan,Low income,40099462,South Asia,AFG
1,Albania,Upper middle income,2811666,Europe & Central Asia,ALB
2,Algeria,Lower middle income,44177969,Middle East & North Africa,DZA
3,American Samoa,Upper middle income,45035,East Asia & Pacific,ASM
4,Andorra,High income,79034,Europe & Central Asia,AND
...,...,...,...,...,...
212,Virgin Islands (U.S.),High income,105870,Latin America & Caribbean,VIR
213,West Bank and Gaza,Lower middle income,4922749,Middle East & North Africa,PSE
214,"Yemen, Rep.",Low income,32981641,Middle East & North Africa,YEM
215,Zambia,Low income,19473125,Sub-Saharan Africa,ZMB
216,Zimbabwe,Lower middle income,15993524,Sub-Saharan Africa,ZWE

In [20]:
treemap.to_csv("./tree_map_data_ordered.csv", index=False)

In [21]:
world_happiness

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2019,153,Afghanistan,"2,567","2,628","2,506","0,301","0,356","0,266","0,000","0,135","0,001","1,507"
1,2019,105,Albania,"4,883","4,993","4,773","0,907","0,830","0,846","0,462","0,171","0,025","1,641"
2,2019,100,Algeria,"5,005","5,092","4,918","0,944","1,143","0,745","0,084","0,119","0,129","1,841"
3,2019,55,Argentina,"5,975","6,079","5,870","1,028","1,373","0,850","0,521","0,070","0,060","2,073"
4,2019,116,Armenia,"4,677","4,792","4,562","0,808","1,035","0,776","0,378","0,107","0,105","1,468"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2019,38,Uzbekistan,"6,258","6,364","6,151","0,697","1,434","0,717","0,693","0,363","0,280","2,073"
131,2019,99,Venezuela,"5,053","5,179","4,927","0,770","1,349","0,767","0,272","0,087","0,064","1,745"
132,2019,83,Vietnam,"5,353","5,420","5,287","0,718","1,253","0,819","0,651","0,136","0,090","1,686"
133,2019,141,Zambia,"3,759","3,878","3,640","0,537","0,896","0,364","0,491","0,251","0,087","1,134"
134,2019,151,Zimbabwe,"3,299","3,414","3,184","0,426","1,048","0,375","0,377","0,151","0,081","0,841"

In [43]:
set(world_happiness["Country name"]) - set(treemap["Country Name"])

{'Czech Republic',
 'Egypt',
 'Hong Kong',
 'Iran',
 'Ivory Coast',
 'Kyrgyzstan',
 'Laos',
 'Palestine',
 'Republic of the Congo',
 'Russia',
 'Slovakia',
 'South Korea',
 'The Gambia',
 'Turkey',
 'United States of America',
 'Venezuela'}

In [44]:
normalized_country_names = {
'Czech Republic': "Czechia",
'Egypt': "Egypt, Arab Rep.",
'Hong Kong': "Hong Kong SAR, China",
'Iran': "Iran, Islamic Rep.",
'Ivory Coast': "Cote d'Ivoire",
'Kyrgyzstan': "Kyrgyz Republic",
'Laos': "Lao PDR",
'Palestine': "West Bank and Gaza",
'Republic of the Congo': "Congo, Rep.",
'Russia': "Russian Federation",
'Slovakia': "Slovak Republic",
'South Korea': "Korea, Rep.",
'The Gambia': "Gambia, The",
'Turkey': "Turkiye",
'United States of America': "United States",
'Venezuela': "Venezuela, RB",
}

In [45]:
world_happiness["Country name"] = world_happiness["Country name"].replace(normalized_country_names)

In [46]:
set(world_happiness["Country name"]) - set(treemap["Country Name"])

set()

In [47]:
# for each corresponding country between world_happiness and treemap, add the respective region
for i, row in world_happiness.iterrows():
    country = row["Country name"]
    if country in treemap["Country Name"].values:
        region = treemap.loc[treemap["Country Name"] == country, "Region"].values[0]
        world_happiness.at[i, "Region"] = region

In [48]:
world_happiness

,Country name,2019,2020,2021,2022,2023,2024,Region
0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.986,South Asia
1,Albania,0.462,0.491,0.511,0.549,0.690,0.955,Europe & Central Asia
2,Algeria,0.084,0.119,0.146,0.252,0.247,0.971,Middle East & North Africa
3,Argentina,0.521,0.544,0.555,0.587,0.681,0.952,Latin America & Caribbean
4,Armenia,0.378,0.540,0.558,0.551,0.650,0.860,Europe & Central Asia
...,...,...,...,...,...,...,...,...
130,Uzbekistan,0.693,0.716,0.716,0.740,0.835,0.598,Europe & Central Asia
131,"Venezuela, RB",0.272,0.284,0.283,0.369,0.518,0.677,Latin America & Caribbean
132,Vietnam,0.651,0.679,0.707,0.741,0.843,0.279,East Asia & Pacific
133,Zambia,0.491,0.487,0.525,0.545,0.727,0.613,Sub-Saharan Africa
134,Zimbabwe,0.377,0.359,0.329,0.363,0.487,0.000,Sub-Saharan Africa

In [49]:
# verify that all countries in world_happiness have a region
missing_regions = world_happiness[world_happiness["Region"].isnull()]
if not missing_regions.empty:
    print("Countries missing regions:")
    print(missing_regions[["Country name", "Region"]])

In [56]:
world_happiness.to_csv("./world_happiness_freedom_with_regions.csv", index=False)

In [51]:
world_happiness = pd.read_csv("./world_happiness_freedom_with_regions.csv")

In [53]:
world_happiness

,Country name,2019,2020,2021,2022,2023,2024,Region
0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.986,South Asia
1,Albania,0.462,0.491,0.511,0.549,0.690,0.955,Europe & Central Asia
2,Algeria,0.084,0.119,0.146,0.252,0.247,0.971,Middle East & North Africa
3,Argentina,0.521,0.544,0.555,0.587,0.681,0.952,Latin America & Caribbean
4,Armenia,0.378,0.540,0.558,0.551,0.650,0.860,Europe & Central Asia
...,...,...,...,...,...,...,...,...
130,Uzbekistan,0.693,0.716,0.716,0.740,0.835,0.598,Europe & Central Asia
131,"Venezuela, RB",0.272,0.284,0.283,0.369,0.518,0.677,Latin America & Caribbean
132,Vietnam,0.651,0.679,0.707,0.741,0.843,0.279,East Asia & Pacific
133,Zambia,0.491,0.487,0.525,0.545,0.727,0.613,Sub-Saharan Africa
134,Zimbabwe,0.377,0.359,0.329,0.363,0.487,0.000,Sub-Saharan Africa

In [54]:
# Convert the columns Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual to numeric
# numeric_columns = [
#     "Ladder score",
#     "upperwhisker",
#     "lowerwhisker",
#     "Explained by: Log GDP per capita",
#     "Explained by: Social support",
#     "Explained by: Healthy life expectancy",
#     "Explained by: Freedom to make life choices",
#     "Explained by: Generosity",
#     "Explained by: Perceptions of corruption",
#     "Dystopia + residual"
# ]

numeric_columns = [
    "2019",
    "2020",
    "2021",
    "2022",
    "2023",
    "2024"
]

for col in numeric_columns:
    world_happiness[col] = world_happiness[col].str.replace(',', '.')
    world_happiness[col] = pd.to_numeric(world_happiness[col], errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [55]:
world_happiness

,Country name,2019,2020,2021,2022,2023,2024,Region
0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.986,South Asia
1,Albania,0.462,0.491,0.511,0.549,0.690,0.955,Europe & Central Asia
2,Algeria,0.084,0.119,0.146,0.252,0.247,0.971,Middle East & North Africa
3,Argentina,0.521,0.544,0.555,0.587,0.681,0.952,Latin America & Caribbean
4,Armenia,0.378,0.540,0.558,0.551,0.650,0.860,Europe & Central Asia
...,...,...,...,...,...,...,...,...
130,Uzbekistan,0.693,0.716,0.716,0.740,0.835,0.598,Europe & Central Asia
131,"Venezuela, RB",0.272,0.284,0.283,0.369,0.518,0.677,Latin America & Caribbean
132,Vietnam,0.651,0.679,0.707,0.741,0.843,0.279,East Asia & Pacific
133,Zambia,0.491,0.487,0.525,0.545,0.727,0.613,Sub-Saharan Africa
134,Zimbabwe,0.377,0.359,0.329,0.363,0.487,0.000,Sub-Saharan Africa