In [1]:
import pandas as pd

In [ ]:
selected_countries = ["Brazil",
                      "United States of America",
                      "Russia",
                      "Ukraine",
                      "Israel",
                      "Iran",
                      "China"]

# check if country is in column Country name in each year's dataset using pandas
for year in range(2019, 2025):
    df = pd.read_csv(f"world_happiness_{year}.csv")
    if not df['Country name'].isin(selected_countries).any():
        print(f"Warning: No selected countries found in {year} dataset.")

In [2]:
for year in range(2019, 2025):
    df = pd.read_csv(f"world_happiness_{year}.csv", index_col=False)
    # df = df[df['Country name'].isin(selected_countries)]

    for col in df.columns[3:].values:
        df[col] = df[col].str.replace(",", ".")
        df[col] = df[col].apply(pd.to_numeric, errors='coerce')

    df.to_csv(f"world_happiness_{year}_pl_pre_process.csv", index=False)

In [3]:
dfs = []
for year in range(2019, 2025):
    df = pd.read_csv(f"world_happiness_{year}_pl_pre_process.csv", index_col=False)
    dfs.append(df)

df_heat = pd.concat(dfs, axis=0, ignore_index=True)
df_heat.to_csv("world_happiness_pl.csv", index=False)

In [4]:
df_heat = pd.read_csv("world_happiness_pl.csv", index_col=False)
df_heat

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2019,153,Afghanistan,2.567,2.628,2.506,0.301,0.356,0.266,0.000,0.135,0.001,1.507
1,2019,105,Albania,4.883,4.993,4.773,0.907,0.830,0.846,0.462,0.171,0.025,1.641
2,2019,100,Algeria,5.005,5.092,4.918,0.944,1.143,0.745,0.084,0.119,0.129,1.841
3,2019,55,Argentina,5.975,6.079,5.870,1.028,1.373,0.850,0.521,0.070,0.060,2.073
4,2019,116,Armenia,4.677,4.792,4.562,0.808,1.035,0.776,0.378,0.107,0.105,1.468
...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,2024,143,Zimbabwe,3.396,3.509,3.283,0.827,0.961,0.178,0.598,0.065,0.131,0.636
806,2024,144,Malawi,3.260,3.390,3.130,0.588,0.489,0.280,0.677,0.115,0.136,0.975
807,2024,145,Lebanon,3.188,3.277,3.098,1.223,0.984,0.440,0.279,0.071,0.041,0.150
808,2024,146,Sierra Leone,2.998,3.102,2.894,0.786,0.692,0.327,0.613,0.138,0.052,0.391
809,2024,147,Afghanistan,1.364,1.427,1.301,0.649,0.000,0.155,0.000,0.075,0.135,0.348

In [16]:
df_pl = pd.read_csv("world_happiness_pl.csv", index_col=False)

In [17]:
df_pl["Year"] = df_pl["Year"].astype(str) + "_"

In [18]:
df_pl["Year"][:10]

0    2019_
1    2019_
2    2019_
3    2019_
4    2019_
5    2019_
6    2019_
7    2019_
8    2019_
9    2019_
Name: Year, dtype: object

In [19]:
df_pl.dtypes

Year                             object
Rank                              int64
Country name                     object
Ladder score                    float64
upperwhisker                    float64
lowerwhisker                    float64
Log GDP per capita              float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
Dystopia                        float64
dtype: object

In [20]:
df_pl.to_csv("world_happiness_pl_edit1.csv", index=False)

In [22]:
treemap = pd.read_csv("./tree_map_data_ordered.csv")

In [23]:
set(df_pl["Country name"]) - set(treemap["Country Name"])

{'Czech Republic',
 'Egypt',
 'Hong Kong',
 'Iran',
 'Ivory Coast',
 'Kyrgyzstan',
 'Laos',
 'Palestine',
 'Republic of the Congo',
 'Russia',
 'Slovakia',
 'South Korea',
 'The Gambia',
 'Turkey',
 'United States of America',
 'Venezuela'}

In [24]:
normalized_country_names = {
'Czech Republic': "Czechia",
'Egypt': "Egypt, Arab Rep.",
'Hong Kong': "Hong Kong SAR, China",
'Iran': "Iran, Islamic Rep.",
'Ivory Coast': "Cote d'Ivoire",
'Kyrgyzstan': "Kyrgyz Republic",
'Laos': "Lao PDR",
'Palestine': "West Bank and Gaza",
'Republic of the Congo': "Congo, Rep.",
'Russia': "Russian Federation",
'Slovakia': "Slovak Republic",
'South Korea': "Korea, Rep.",
'The Gambia': "Gambia, The",
'Turkey': "Turkiye",
'United States of America': "United States",
'Venezuela': "Venezuela, RB",
}

df_pl["Country name"] = df_pl["Country name"].replace(normalized_country_names)

In [25]:
# for each corresponding country between world_happiness and treemap, add the respective region
for i, row in df_pl.iterrows():
    country = row["Country name"]
    if country in treemap["Country Name"].values:
        region = treemap.loc[treemap["Country Name"] == country, "Region"].values[0]
        df_pl.at[i, "Region"] = region

In [26]:
df_pl.to_csv("./world_happiness_pl_with_regions.csv", index=False)